# Virtual environment
env/

# Hailo build artifacts
*.har
*.log
*.whl

# Keep compiled output
!output/*.hef

# Archive — ignore large model files but keep folder
archieve/**/*.har
archieve/**/*.hef
archieve/**/*.onnx

# Calibration data
calib_npy/

# Dataset
dataset/

# Hailo model zoo
hailo_model_zoo/

# Misc
__pycache__/
*.pyc
image.png
drive/
